.button{
	width:100px;
	height:25px
}
body{
	background-color: grey;
	padding:5px 30px 30px 30px;
	margin:30px;
	text-align:center;
}
td{
	padding-right:45px;
	padding-top:20px
}
.grinderreveal{
	visibility:hidden;
}